{% load static %}

 <!-- NAVBAR
    ================================================== -->
    <section id="header">
        <!-- Brand -->
        <a href="#">
            <img src="{% static 'assets/img/ecom_logo.png' %}" class="logo" style="width:100px;height:80px" alt="...">
        </a>
        <!-- Navigation -->
         <div>
            <ul id="navbar">
                <li><a class="active" href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" ><i class="fa fa-user-plus"></i></a></li>
                <li><a><i class="fa fa-shopping-bag"></i></a></li>
            </ul>
        </div>

    

  

