{% extends "base.html" %}
{% load static %}


{% block content %}
    <section id="login">
        <div class="container">
            <h2>Password reset</h2>
            <div id="loginForm">
                <h3>Login</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-container">
                        <label for="id_email" style="display: none;">Email:</label>
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" autocomplete="email" maxlength="254" placeholder="Email" required="" id="id_email">
                    </div>
                    <input type="Submit" name="Send email">
                </form>
            </div>
        </div>
    </section>
{% endblock content %}