{% extends "base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
<section class="vh-100" style="background-color: #fff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
                      
                    <form method="post">
                    {% csrf_token %}
                    <h2 class="mb-3 pb-3" style="letter-spacing: 1px; font-weight:500">Enter your new password</h2>
                    <p>Please Enter your new Password twice so that we can verify that you typed it in correctly</p>
                    <div data-mdb-input-init class="form-outline mb-4">
                        <label for="password" style="font-size:20px;font-weight:500"><strong>New Password<strong></label><br>
                        <input type="password" id="password" name="password" style="font-size:20px" maxlength="254" required=""/><br>
                        <label for="password1" style="font-size:20px;font-weight:500"><strong>Confirm Password<strong></label><br>
                        <input type="password" id="password1" name="password1" style="font-size:20px" maxlength="254" required=""/><br>
                    </div>
                    <button class="normal" style="background-color:black; color:white;font-size:15px;" type="Submit" name="Send email">Submit</button>
                       
                    </form>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}