{% extends 'base.html' %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<h1>Forgotten your password?</h1>
<p>Enter your E-mail address to obtain a new password.</p>
<form action="." method="post">
{{form.as_p}}
<p><input type="submit" value="Send e-mail"></p>
{% csrf_token %}
</form>
    {% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% comment %} 
<div class="container mb-11 section-p1">
    <div class="row gx-0">
        <div class="col-md-7 col-xl-4 mx-auto">
            <h3 class="mb-6">Reset Your Password</h3>
            {% include 'components/message.html' %}
            <form method="post">
                {% csrf_token %}
                {{ form.email|as_crispy_field }}
                <button class="btn btn-block btn-primary" type="submit">Send Confirmation Link</button>
            </form>
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}
