{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% load static %}
{% block content %} 

<!-- MAIN PAGE================================================== -->
 <section id="hero">
    <div class="row">
        <div class="col-6">
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p> Save more with coupons & upto 70% off!</p>
            <button>Shop Now</button>
        </div>
        <div class="col-6">
            <img  class="image1" src="{% static 'assets/img/display1.jpg' %}"  alt="...">
        </div>
    </div>
 </section>

<!--some features-->
<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="{% static 'assets/img/shipping.jpg' %}" style="height:100px;width:100px">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'assets/img/order.jpg' %}" style="height:100px;width:100px">
        <h6>Online Order</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'assets/img/money.jpg' %}" style="height:100px;width:100px">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'assets/img/promo.jpg' %}" style="height:100px;width:100px">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'assets/img/happy.jpg' %}" style="height:100px;width:100px">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="{% static 'assets/img/support.png' %}" style="height:100px;width:100px">
        <h6>F24/7 Support</h6>
    </div>
</section>

<!--Featured Products-->
<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">
        {% for i in product %}
        <div class="pro" onclick="window.location.href='{% url 'product' %}'">
            <img src="{{i.image}}" alt="">
            <div class="des">
                <span>{{i.brand}}</span>
                <h5>{{i.name}}</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>{{i.price}}</h4>
            </div>
            <a href="{% url 'product' %}"><i class="cart1 fa fa-shopping-cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>

<!--Banner section-->
<section id="banner" class="section-m1" style="background-image: url('{% static 'assets/img/background.jpg' %}')">
    <h4>Repair Services</h4>
    <h2>Up to <span>70% Off</span>-All T-Shirts & Accessories</h2>
    <button class="normal">Explore More</button>
</section>

<!--New Arrivals products-->
<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Summer Collection New Modern Design</p>
    <div class="pro-container">x``
        {% for n in new_arrivals %}
        <div class="pro">
            <img src="{{n.image}}" alt="">
            <div class="des">
                <span>{{n.brand}}</span>
                <h5>{{n.name}}</h5>
                <div class="star">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <h4>{{n.price}}</h4>
            </div>
            <a href="#"><i class="cart1 fa fa-shopping-cart"></i></a>
        </div>
        {% endfor %}
    </div>
</section>

<!--Banner section large-->
<section id="sm-banner" class="section-p1" >
    <div class="banner-box" style="background-image: url('{% static 'assets/img/banner1.jpg' %}')">
        <h4>Spring/Summer</h4>
        <h2>Upcoming Season</h2>
        <span>The best classic dress is on sale</span>
        <button class="white">Collection</button>
    </div>
    <div class="banner-box" style="background-image: url('{% static 'assets/img/banner2.jpg' %}')">
        <h4>Crazy Deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>The best classic dress is on sale</span>
        <button class="white">Learn More</button>
    </div>
</section>

<!--Text Banner-->
<section id="banner-3" class="section-p1">
    <div class="banner-box" style="background-image: url('{% static 'assets/img/banner3.jpg' %}')">
        <h2>Seasonal Sale</h2>
        <h3>Winter Collection - 50% Off</h3>
    </div>
    <div class="banner-box" style="background-image: url('{% static 'assets/img/ban4.jpg' %}')">
        <h2>New Footwear Collection</h2>
        <h3>Spring / Summer 2024</h3>
    </div>
    <div class="banner-box" style="background-image: url('{% static 'assets/img/ban5.jpg' %}')">
        <h2>T-Shirts</h2>
        <h3>New Trendy Print</h3>
    </div>
</section>

<!--Newsletter-->
<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>Get E-mail Updates about our latest shop and <span>special offers.</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your email address">
        <button class="normal">Sign Up</button>
    </div>
</section>
{% endblock %} 

